* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  line-height: 1.5;
}
.none {
  display: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.button-link {
  display: none;
}
@media (min-width: 1200px) {
  .button-link {
    display: table;
    padding: 16px 38px;
    height: 64px;
    border-radius: 32px;
    background-color: yellow;
    font-size: 22px;
    font-weight: 700;
    color: black;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin: 0;
    transition: background-color 0.2s ease-in;
  }
  .button-link:hover {
    background-color: #f0c70f;
  }
  .button-link:active {
    background-color: #c5a515;
  }
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container {
  width: 320px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    padding: 0 15px;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    width: 1140px;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.title-1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.3;
}
.title-2 {
  font-size: 42px;
  font-weight: 800;
}
.title-3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1.6px;
}
.title-4 {
  font-size: 26px;
  font-weight: 800;
  line-height: 1.2;
}
.header {
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  padding-top: 35px;
  margin-bottom: 90px;
}
@media (min-width: 1200px) {
  .header {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;
    padding-top: 75px;
    margin-bottom: 240px;
    background-image: url(../../img/bg/line_1.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
    z-index: 1;
  }
}
.header-nav {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header-nav {
    width: 768px;
    margin-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    width: 100%;
    margin-bottom: 178px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.header-logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .header-logo {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    margin-left: 35px;
  }
}
@media (min-width: 1200px) {
  .header-logo {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.2;
    margin-left: 95px;
  }
}
.logo {
  margin: 0;
  color: #000000;
}
.logo:hover {
  cursor: pointer;
  color: #e2d62d;
  transition: 0.5s;
}
.logo:active {
  color: #f16f6f;
  transition: none;
}
.header-menu {
  display: none;
}
@media (min-width: 768px) {
  .header-menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header-menu {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
  }
  .header-menu:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .menu-item {
    margin-right: 80px;
    color: #000000;
  }
  .menu-item:hover {
    cursor: pointer;
    color: #e2d62d;
    transition: 0.5s;
  }
  .menu-item:active {
    color: #f16f6f;
    transition: none;
  }
}
.fa-github {
  margin-right: 20px;
  color: #000000;
}
.fa-github:hover {
  color: #a8ada7;
  transition: 0.5s;
}
.fa-github:active {
  color: #8a9187;
  transition: none;
}
.fa-vk {
  margin-right: 70px;
  color: #000000;
}
.fa-vk:hover {
  color: #327edb;
  transition: 0.5s;
}
.fa-vk:active {
  color: #45668e;
  transition: none;
}
.header-row {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .header-row {
    margin: 0 15px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1140px;
  }
}
.header-desc {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .header-desc {
    width: 50%;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .header-desc {
    width: 50%;
    margin-bottom: 0;
  }
}
.photo {
  object-fit: contain;
  object-position: 0px 0px;
}
@media (min-width: 768px) {
  .photo {
    object-position: 0px 0px;
  }
}
@media (min-width: 1200px) {
  .photo {
    object-position: 0px 0px;
    object-fit: cover;
    /*  width: 300px;
        height: 300px; */
    border-radius: 15px;
    box-shadow: -12px 20px 40px 10px rgba(0, 0, 0, 0.5);
  }
}
.title-image {
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .title-image {
    margin-bottom: 0;
  }
}
.header-text {
  font-size: 20px;
  font-weight: 500;
  color: #393f47;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .header-text {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .header-text {
    margin-bottom: 40px;
    font-size: 22px;
  }
}
.header-button_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header-button {
  display: none;
}
@media (min-width: 1200px) {
  .header-button {
    display: block;
    margin-left: 20px;
    padding: 0 36px;
    height: 64px;
    border: 4px solid #464646;
    border-radius: 32px;
    font-size: 22px;
    font-weight: 700;
    color: #464646;
    line-height: 1.2;
    letter-spacing: 0.9px;
    cursor: pointer;
    transition: 0.2s ease;
  }
  .header-button:hover {
    color: #000000;
    border: 4px solid #e4b834;
  }
  .header-button:hover:active {
    color: #181818;
    border: 4px solid #181818;
  }
}
.header-bg {
  position: relative;
  margin-top: -60px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
  z-index: -1;
}
@media (min-width: 768px) {
  .header-bg {
    margin-top: -80px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .header-bg {
    max-width: 1600px;
    margin-top: -130px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .header-row_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .header-row_skills {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .header-row_skills {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .header-row_skills {
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 1140px;
  }
}
.header-skills {
  display: block;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .header-skills {
    margin-bottom: 0;
    width: 650px;
  }
}
/* .headers-skill-desk {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
} */
@media (min-width: 1200px) {
  .header-skills-desk {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
  }
}
.header-title {
  /* margin-top: 25px; */
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
}
@media (min-width: 768px) {
  .header-title {
    margin-bottom: 30px;
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .header-title {
    margin-bottom: 40px;
    font-size: 70px;
  }
}
.header-list-item {
  position: relative;
  margin-bottom: 25px;
  font-size: 24px;
}
.header-list-item:last-child {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .header-list-item {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .header-list-item {
    position: relative;
  }
  .header-list-item:before {
    content: "—";
    margin-right: 5px;
  }
  .header-list-item:last-child {
    margin-bottom: 0px;
  }
}
.header-title-3 {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1.6px;
}
@media (min-width: 768px) {
  .header-title-3 {
    margin-bottom: 30px;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .header-title-3 {
    margin-bottom: 40px;
    font-size: 32px;
  }
}
.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin-bottom: 20px; */
}
.header-icons-top {
  display: none;
}
@media (min-width: 1200px) {
  .header-icons-top {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    margin-right: 80px;
  }
}
@media (min-width: 1200px) {
  .header-icons-bottom {
    margin-bottom: 20px;
  }
}
.link_wrap {
  margin-right: 20px;
}
.link_wrap:last-child {
  margin-right: 0;
}
.image-link-1 {
  width: 40px;
  height: 40px;
  background-image: url(../../img/img-link/facebook.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}
.image-link-1:hover {
  background-color: #064a9e;
  transition: 0.2s ease-in;
}
.image-link-2 {
  width: 40px;
  height: 40px;
  background-image: url(../../img/img-link/skype.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}
.image-link-2:hover {
  background-color: #1dcdec;
  transition: 0.2s ease-in;
}
.image-link-3 {
  width: 40px;
  height: 40px;
  background-image: url(../../img/img-link/telegram.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}
.image-link-3:hover {
  background-color: #1dcdec;
  transition: 0.2s ease-in;
}
.image-link-4 {
  width: 40px;
  height: 40px;
  background-image: url(../../img/img-link/whatsapp.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
}
.image-link-4:hover {
  background-color: #13e463;
  transition: 0.2s ease-in;
}
.image-link-5 {
  width: 40px;
  height: 40px;
  background-image: url(../../img/img-link/github.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}
.image-link-5:hover {
  background-color: #787b7e;
  transition: 0.2s ease-in;
}
.header-link {
  color: #327edb;
  font-size: 24px;
  font-weight: 500;
  text-decoration: underline;
  line-height: 1.2;
  transition: 0.2s ease-in;
}
.header-link:hover {
  color: #064a9e;
}
.header-link:active {
  color: #f16f6f;
}
.section-portfolio {
  width: 100%;
  margin: 0 auto;
  background-color: #f4f8f9;
  padding-top: 60px;
  padding-bottom: 95px;
}
@media (min-width: 768px) {
  .section-portfolio {
    max-width: 768px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding-top: 120px;
    max-width: 1600px;
    padding-bottom: 130px;
  }
}
.section-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .section-row {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .section-row {
    margin: 0 auto;
    width: 1140px;
    padding-bottom: 125px;
    padding-top: 97px;
  }
}
.section-title {
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .section-title {
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .section-title {
    margin-bottom: 65px;
  }
}
.section-nav {
  display: none;
}
@media (min-width: 768px) {
  .section-nav {
    display: block;
    position: relative;
    display: flex;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .section-nav {
    margin-bottom: 60px;
  }
}
.section-nav_item {
  display: none;
}
@media (min-width: 768px) {
  .section-nav_item {
    display: block;
    margin-right: 50px;
    font-size: 24px;
    font-weight: 800;
    color: #000000;
  }
  .section-nav_item:last-child {
    margin-right: 0;
  }
  .section-nav_item:hover {
    color: #00b7ff;
    transition: 0.2s ease-in;
  }
  .section-nav_item:active {
    color: #f16f6f;
    transition: none;
  }
}
@media (min-width: 1200px) {
  .section-nav_item {
    margin-right: 80px;
    font-size: 28px;
  }
}
.section-nav_item-blocked {
  display: none;
}
@media (min-width: 768px) {
  .section-nav_item-blocked {
    display: block;
    font-size: 24px;
    font-weight: 800;
    color: #8fa5ae;
  }
}
@media (min-width: 1200px) {
  .section-nav_item-blocked {
    font-size: 28px;
  }
}
.section-nav_wrap-blocked {
  display: none;
}
@media (min-width: 768px) {
  .section-nav_wrap-blocked {
    display: block;
    position: relative;
    margin-right: 60px;
  }
  .section-nav_wrap-blocked:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .section-nav_wrap-blocked {
    margin-right: 80px;
  }
}
.section-nav_wrap-blocked::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: -5px;
  right: -15px;
  background-image: url(../../img/img-lock/lock.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .section-works {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.section-works_wrap {
  margin: 0;
}
@media (min-width: 768px) {
  .section-works_wrap {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .section-works_wrap {
    margin-right: 20px;
  }
  .section-works_wrap:last-child {
    margin-right: 0;
  }
}
.section-works_wrap p {
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .section-works_wrap p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .section-works_wrap p {
    font-size: 22px;
  }
}
.section-works_image {
  width: 290px;
  height: 200px;
  position: relative;
  display: block;
  margin-bottom: 25px;
}
.section-works_image::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 6px;
  background: #f0d96080;
  opacity: 0;
  z-index: 1;
}
.section-works_image .section-works_button {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 254px;
  height: 52px;
  border-radius: 52px;
  border: none;
  font-size: 22px;
  font-weight: 700;
  color: #f16f6f;
  padding: auto;
  opacity: 0;
  z-index: 2;
}
.section-works_image .section-works_button:hover {
  background-color: #f16f6f;
  color: #ffffff;
  opacity: 1;
  transition: 0.5s;
}
.section-works_image .section-works_button:active {
  background-color: #d86161;
  color: #ffffff;
  opacity: 1;
  transition: 0.5s;
}
.section-works_image:hover::after,
.section-works_image:hover .section-works_button {
  opacity: 1;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .section-works_image {
    width: 340px;
    height: 240px;
    position: relative;
    display: block;
  }
}
@media (min-width: 1200px) {
  .section-works_image {
    width: 546px;
    height: 370px;
    position: relative;
    display: block;
    margin-bottom: 35px;
  }
}
.section-works_link {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #000000;
}
.section-works_link:hover {
  color: #f16f6f;
}
@media (min-width: 768px) {
  .section-works_link {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .section-works_link {
    font-size: 32px;
  }
}
.section-how-work {
  /* position: relative; */
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  /* margin: 0 auto; */
}
@media (min-width: 768px) {
  .section-how-work {
    max-width: 768px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .section-how-work {
    max-width: 1600px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(../../img/bg/line_2.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: auto;
  }
}
.correction-h2 {
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .correction-h2 {
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .correction-h2 {
    margin-bottom: 80px;
  }
}
.correction-h4 {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .correction-h4 {
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .correction-h4 {
    margin-bottom: 15px;
  }
}
.how-work-wrap_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-how-work_wrap {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .section-how-work_wrap {
    width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .section-how-work_wrap {
    max-width: 1005px;
  }
}
.section-how-work_row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .section-how-work_row {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  .section-how-work_row:nth-child(odd) {
    text-align: right;
    margin-right: 335px;
  }
  .section-how-work_row:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;
    margin-left: 260px;
  }
}
@media (min-width: 1200px) {
  .section-how-work_row {
    margin-bottom: 115px;
  }
  .section-how-work_row:nth-child(odd) {
    text-align: right;
    margin-right: 555px;
  }
  .section-how-work_row:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;
    margin-left: 465px;
  }
}
.how-work_step {
  width: 270px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 768px) {
  .how-work_step {
    width: 294px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .how-work_step {
    padding-right: 45px;
    padding-left: 45px;
    width: 510px;
  }
}
.how-work_desc {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 500;
}
.how-work_time {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
}
.how-work_step-item {
  position: relative;
  width: 74px;
  height: 74px;
  border: 1px solid #460505;
  border-radius: 28px;
  background-color: #ffffff;
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
.after-item-1::after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 108px;
  background-color: #e1eef4;
  top: 90px;
  left: 33px;
}
.after-item-2::after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 185px;
  background-color: #e1eef4;
  top: 90px;
  left: 33px;
}
.after-item-3::after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 205px;
  background-color: #e1eef4;
  top: 90px;
  left: 33px;
}
.after-item-4::after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 185px;
  background-color: #e1eef4;
  top: 90px;
  left: 33px;
}
.after-item-5 {
  display: none;
}
@media (min-width: 768px) {
  .how-work_step-item {
    top: -25px;
  }
}
.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.bg-img-1 {
  background-image: url(../../img/img-how-work/icon-1.png);
}
.bg-img-2 {
  background-image: url(../../img/img-how-work/icon-2.png);
}
.bg-img-3 {
  background-image: url(../../img/img-how-work/icon-3.png);
}
.bg-img-4 {
  background-image: url(../../img/img-how-work/icon-4.png);
}
.bg-img-5 {
  background-image: url(../../img/img-how-work/icon-5.png);
}
.contacts {
  max-width: 1600px;
  padding-top: 127px;
  margin-bottom: 150px;
  margin: 0 auto;
  background-color: #f4f8f9;
}
.contacts-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 150px;
}
.contacts-desc {
  display: flex;
  flex-direction: column;
  width: 510px;
  padding-top: 25px;
}
.paragraph-desc {
  font-size: 18px;
  margin-bottom: 25px;
}
.contacts-list_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.contacts-list-left {
  width: 150px;
}
.contacts-list-left p {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
}
.contacts-list-right {
  width: 200px;
  margin-left: 110px;
}
.contacts-list-right p {
  font-size: 18px;
  margin-bottom: 15px;
}
.contacts-list_link {
  color: #138ece;
}
.contacts-icon {
  display: flex;
  flex-direction: row;
}
.contacts-icon_wrap {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}
.contacts-icon_wrap:last-child {
  margin-right: 0;
}
.contacts-icons {
  margin-bottom: 0;
  display: flex;
  justify-content: start;
}
.contacts-img-link {
  margin-right: 25px;
}
.contacts-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 510px;
  padding-top: 60px;
  padding-left: 65px;
  padding-bottom: 45px;
  padding-right: 65px;
  background-color: #ffffff;
  box-shadow: 0px 10px 35px 0px rgba(0, 112, 187, 0.35);
}
.form-input {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  /* background-color: #eeeeee; */
  border: none;
  border-bottom: 1px solid #c0c0c0;
  /* border-radius: 6px; */
  font-size: 20px;
  color: #31405b;
}
.form-input_wrap p {
  font-weight: 500;
  color: #b8b4b4;
}
.form-input-email {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}
.form-input-theme {
  height: 30px;
}
.form-input-message {
  height: 70px;
}
/* .form-input::placeholder {
    color: rgba(49, 64, 91, 0.5);

} */
.form-input:focus {
  outline: none;
  /* border: 2px solid #f3d52c;
box-shadow: 0px 0px 10px 0 rgba(255, 218, 8, 0.5); */
}
.form-button {
  width: 120px;
  height: 50px;
  /* padding: 5px 20px; */
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 100px;
  background-color: #ffef14;
  border: none;
}
.form-button:hover {
  background-color: #e4d60f;
  transition: 0.2s;
}
.footer {
  background-color: #474545;
  padding-top: 30px;
  padding-bottom: 45px;
}
.footer-title {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: normal;
}
.footer-text {
  color: #a39c9c;
}
.footer-text a {
  text-decoration: underline;
  color: #a39c9c;
}
/*# sourceMappingURL=main.css.map */