.section-portfolio {
    width: 100%;
    margin: 0 auto;
    background-color: #f4f8f9;
    padding-top: 60px;
    padding-bottom: 95px;
}

@media (min-width: 768px) {
    .section-portfolio {
        max-width: 1199px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (min-width: 1200px) {
    .section-portfolio {
        padding-top: 120px;
        max-width: 1600px;
        padding-bottom: 130px;
    }
}

.section-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    .section-row {
        width: 768px;
    }
}

@media (min-width: 1200px) {
    .section-row {
        margin: 0 auto;
        width: 1140px;
        padding-bottom: 125px;
        padding-top: 97px;
    }
}

.section-title {
    position: relative;
    margin-bottom: 45px;
    z-index: 1;

    &::before {
        content:"";
        display: block;
        position: absolute;

        width: 230px;
        height: 10px;
        background-color: #ffd000;

        z-index: -1;
        top: 40px;
        left: -5px;
    }
}

@media (min-width: 768px) {
    .section-title {
        margin-bottom: 55px;
    }
}

@media (min-width: 1200px) {
    .section-title {
        margin-bottom: 65px;
    }
}

.section-nav {
    display: none;
}

@media (min-width: 768px) {
    .section-nav {
        display: block;
        position: relative;
        display: flex;
    }
}

.section-nav_item {
    display: none;
}

@media (min-width: 768px) {
    .section-nav_item {
        display: block;
        margin-right: 50px;
        font-size: 24px;
        font-weight: 800;
        color: #000000;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: #00b7ff;
            transition: 0.2s ease-in;
        }

        &:active {
            color: #f16f6f;
            transition: none;
        }
    }
}

@media (min-width: 1200px) {
    .section-nav_item {
        margin-right: 80px;
        font-size: 28px;
    }
}

.section-nav_item-blocked {
    display: none;
}

@media (min-width: 768px) {
    .section-nav_item-blocked {
        display: block;
        font-size: 24px;
        font-weight: 800;
        color: #8fa5ae;
    }
}

@media (min-width: 1200px) {
    .section-nav_item-blocked {
        font-size: 28px;
    }
}

.section-nav_wrap-blocked {
   display: none;
}

@media (min-width: 768px) {
    .section-nav_wrap-blocked {
        display: block;
        position: relative;
        margin-right: 60px;

        &:last-child {
            margin-right: 0;
        }
    }
}

@media (min-width: 1200px) {
    .section-nav_wrap-blocked {
        margin-right: 80px;
    }
}

@media (min-width: 768px) {
    .section-nav_wrap-blocked::after {
        content: "";
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
    
        top: -5px;;
        right: -15px;
    
        background-image: url("..//img/imgl-lock-svg/lockicon_120641.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

@media (min-width: 1200px) {
    .section-nav_wrap-blocked::after {
        content: "";
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
    
        top: -5px;;
        right: -15px;
    
        background-image: url("..//img/imgl-lock-svg/lockicon_120641.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}



.section-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .section-works {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;

        &:last-child {
            justify-content: start;
        }
    }
}

.section-works_wrap {
    margin: 0;
}

@media (min-width: 768px) {
    .section-works_wrap {
        margin-right: 30px;

        margin-top: 60px;
    }
}

@media (min-width: 1200px) {
    .section-works_wrap {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.section-works_wrap p {
    font-size: 18px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .section-works_wrap p {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .section-works_wrap p {
        font-size: 22px;
    }
}

.section-works_image {
    width: 290px;
    height: 200px;
    position: relative;
    display: block;
    margin-bottom: 25px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: #f0d96080;
        opacity: 0;
        z-index: 1;
    }

    .section-works_button {
        display: inline-block;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 9px 0 10px;
        width: 254px;
        height: 52px;
        border-radius: 52px;
        border: none;
        text-align: center;
    
        font-size: 22px;
        font-weight: 700;
        color: #f16f6f;
        background-color: #ffffff;
        padding: auto;
    
        opacity: 0;
        z-index: 2;
        
        &:hover {
            background-color: #f16f6f;
            color: #ffffff;
            opacity: 1;
            transition: 0.5s;
        }

        &:active {
            background-color: #d86161;
            color: #ffffff;
            opacity: 1;
            transition: 0.5s;
        }
    }

    &:hover::after,
    &:hover .section-works_button {
        opacity: 1;
        transition: 0.5s;
    }
}

@media (min-width: 768px) {
    .section-works_image {
        width: 340px;
        height: 240px;
        position: relative;
        display: block;
    }
}

@media (min-width: 1200px) {
    .section-works_image {
        width: 546px;
        height: 370px;
        position: relative;
        display: block;
        margin-bottom: 35px;
    }
}

.image__forest {
    background-image: url('..//img/portfolio/forest-travel.webp');
}

.image__unit {
    background-image: url('..//img/portfolio/unit.webp');
}

.image__backery {
    background-image: url('..//img/portfolio/backery.webp');
}

.image__web-blog {
    background-image: url('docs/img/portfolio/web-blog.jpg');
}

.image__portland {
    background-image: url('..//img/portfolio/portland.jpg');
}

.section-works_link {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 15px;

    color: #000000;

    &:hover {
        color: #f16f6f;
    }
}

@media (min-width: 768px) {
    .section-works_link {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px) {
    .section-works_link {
        font-size: 32px;
    }
}